// Base color
$base-color: dynamic(#11998e);

// Button Styles
.submit-button {
  background: transparent;
  border: none;
  color: red !important;
  border-top: 1px solid black;
  &:hover {
    background: transparent;
    color: red !important;
  }
}

// .x-btn-inner-default-small {
//   color: red;
// }

// Couldn't change text color using my own custom class above --> .submit-button
